<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Good Afternoon Meg!</h1>
  <!-- <%= image_tag("starpower.jpg") %>  -->
  
  <h2 class="welcome-habit">
    Welcome to Habit!
  </h2>
  
   <!--<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg my-button" %> -->
  
</div>


<% end %>