<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.check_box :mia, placeholder: "Mia", label:"Mia" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>